<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centrirani Div</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
     <style>
        
        .slika{
            border-radius: 10px;
            height: 300px;
        }
    </style> 
</head>
<body>

    <div class="container mt-5 ">
        <div *ngIf="znamenitosti && znamenitosti.length != 0">
            <div *ngFor="let znamenitost of znamenitosti" class="container text-white py-5">
                <div class="text-dark text-center mb-4">
                    <h2 class="text">{{znamenitost.ime}}</h2>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6 text-center">
                        <img [src]="znamenitost.slika" class="slika" />               
                    </div>
                    <div class="text-dark col-md-6">
                        <p>{{znamenitost.opis}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div>
            <div class="container text-white py-5">
                <div class="text-dark text-center mb-4">
                    <h2 class="text">Kotor Fortress</h2>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6 text-center">
                        <img src="../../../../assets/images/slika9.png" class="slika" />               
                    </div>
                    <div class="text-dark col-md-6">
                        <p>Nestled within the historic city walls of Kotor, Montenegro, the Kotor Museum, also known as the Maritime Museum of Montenegro, offers a captivating journey through the region's rich maritime heritage and cultural history. Housed in the elegant Baroque Grgurina Palace, the museum stands as a testament to Kotor’s long-standing relationship with the sea and its significant role in Adriatic maritime history.

                            The museum's collection includes an impressive array of artifacts, ranging from ancient navigational instruments and ship models to intricate maritime maps and detailed records of naval battles. Each exhibit tells a unique story of the city's seafaring past, showcasing the skills and craftsmanship of Kotor's sailors, shipbuilders, and navigators.</p>
                    </div>
                </div>
                <div class="row align-items-center mt-3">
                    <div class="text-dark col-md-6">
                        <p>Visitors to the museum can explore several floors of meticulously curated exhibits. The ground floor features a collection of historic ship models, providing insight into the evolution of naval architecture and the types of vessels that once sailed the Adriatic Sea. The first floor houses an array of navigational tools and equipment, highlighting the technological advancements that made long-distance sea travel possible.

                            One of the museum's most fascinating sections is dedicated to the lives of Kotor's illustrious sea captains and their daring exploits. Portraits, personal belongings, and detailed logs offer a glimpse into the lives of these maritime adventurers and their contributions to the city's prosperity.</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img src="../../../../assets/images/slika10.png" class="slika" />               
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>  
    <!--
    <div class="container mt-5">
        <div *ngIf="znamenitosti && znamenitosti.length!=0">
          <ul>
            <li *ngFor="let znamenitost of znamenitosti">
              {{ znamenitost.ime }} - {{ znamenitost.opis }}
            </li>
          </ul>
        </div>
        <div *ngIf="!znamenitosti || znamenitosti.length==0">
          <p>Nema znamenitosti za prikaz.</p>
        </div>
      </div>
    -->

</body> 
</html>


