<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centrirani Div</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="quote-container">
        <h1 class="title">The Pearl of Creation</h1>
        <h2 class="author">LORD BYRON</h2>
        <p class="quote">
            “At the moment of the creation of our planet, the most beautiful merging of land and sea occurred at the Montenegrin seaside ... When the pearls of nature were sown, abundance was strewn all over this area.”
        </p>
    </div>

    <div class="container-fluid my-4 p-4 bg-light rounded">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-md-5 mb-4">
                <img src="assets/images/unesco.jpg" alt="Kotor Bay" class="img-fluid rounded">
            </div>
            <div class="col-12 col-md-5">
                <h1 class="main-title">Kotor - UNESCO heritage site</h1>
                <h2 class="subtitle">YOUR STARTING POINT FOR THE CABLE CAR RIDE</h2>
                <p class="description">
                    Nestled between imposing mountains and the enchanting Boka Bay, where the peaks of Lovćen elegantly mirror the sparkling waters, lies the vibrant core of the Bay - Kotor.
                    <br><br>
                    With its medieval fortifications tracing back to antiquity, this UNESCO World Heritage site has stood the test of time since 169 BCE. Strolling through the winding streets of Kotor, you'll step into a truly historical time capsule, spanning from the era of ancient Rome to the ravages of World War II.
                    <br><br>
                    Proudly adorned with the prestigious title of "Best European Destination 2019," Kotor is an unmissable gem, revered as a captivating cruising port and consistently ranked among the top "hidden cities" and must-see destinations in this corner of Europe. Discover the allure of Kotor - a captivating link to the past.
                    <br><br>
                    <strong>#MustSee in Kotor</strong>
                </p>
            </div>
        </div>
    </div>
    
    <div class="slider-container">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let slide of slides">
              <img [src]="slide.img" alt="Image">
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
          <!-- Add Navigation -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
    </div>

    <div class="container-fluid2 my-4 p-4 bg-light rounded">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-md-5">
                <h1 class="main-title2">Old town Kotor</h1>
                <h2 class="subtitle2">22 CENTURIES OLD</h2>
                <p class="description2">
                    Tucked away in the very heart of the city, right by the main harbor, and embraced
                    by the historic city walls.
                    Exploring its enchanting streets won't require much time, yet every alleyway,
                    square, restaurant, museum, and gallery will captivate your senses.
                    <br><br>
                    Prepare to be dazzled by the magnificent Square of Arms, the awe-inspiring
                    Cathedral of St. Tryphon, the serene Orthodox Church of St. Nicholas, and the
                    ancient 12th-century Church of St. Luke.
                    <br><br>
                </p>
            </div>
            <div class="col-12 col-md-5 mb-4 oldtown">
                <img src="assets/images/slika14.jpg" alt="Kotor Bay" class="img-fluid2 rounded">
            </div>
        </div>
    </div>


    <div class="stats-container">
        <div class="stat" *ngFor="let stat of stats">
          <span class="count">{{ stat.value | number }}</span>
          <span class="label">{{ stat.label }}</span>
        </div>
    </div>

    

    <div class="faq-container">
        <div class="faq-title">FREQUENTLY ASKED QUESTIONS ABOUT THE KOTOR PASS</div>
        <div class="faq-item">
            <input type="checkbox" id="faq1">
            <label class="faq-item-title" for="faq1">WHAT IS THE KOTOR PASS?</label>
            <div class="faq-item-content">The Kotor City Pass is an all-inclusive ticket for all available sights in Kotor. Learn more about all included sights, such as Kotor Fortress, Our Lady of the Rocks, or Kotor Cable car.</div>
        </div>
        <div class="faq-item">
            <input type="checkbox" id="faq2">
            <label class="faq-item-title" for="faq2">WHAT ARE THE ADVANTAGES OF THE KOTOR CITY PASS?</label>
            <div class="faq-item-content">The Kotor City Pass offers convenience, savings, and flexibility, providing access to many popular attractions without the need for separate tickets.</div>
        </div>
        <div class="faq-item">
            <input type="checkbox" id="faq3">
            <label class="faq-item-title" for="faq3">HOW MUCH IS THE KOTOR CITY PASS?</label>
            <div class="faq-item-content">The price of the Kotor City Pass varies depending on the season and the number of days.</div>
        </div>
        <div class="faq-item">
            <input type="checkbox" id="faq4">
            <label class="faq-item-title" for="faq4">HOW DOES THE KOTOR PASS WORK?</label>
            <div class="faq-item-content">The Kotor City Pass is valid for the selected dates and allows access to all available attractions. After the expiration date, the KOTOR Pass card cannot be used.</div>
        </div>
    </div>

    <div class="custom-container">
        <div class="row custom-row">
            <div class="col-md-4 custom-column">
                <img src="assets/images/opp.png" alt="Placeholder Image 1" class="img-fluid custom-img">
            </div>
            <div class="col-md-4 custom-column">
                <img src="assets/images/ktologo.png" alt="Placeholder Image 2" class="img-fluid custom-img">
            </div>
            <div class="col-md-4 custom-column">
                <img src="assets/images/mnee.png" alt="Placeholder Image 3" class="img-fluid custom-img">
            </div>
        </div>
    </div>

    <div class="map-container mb-5">
        <div id="map"></div>
    </div>
</body>
</html>
