.bg-circle {
    width: 100px; /* širina kruga */
    height: 100px; /* visina kruga */
    background-color: red; /* boja kruga */
    border-radius: 50%; /* krug */
}
.slika{
    border-radius: 10px;
    height: 300px;
}
.slika3{
    border-radius: 10px;
    height: 400px;
}