<!-- Footer -->
<footer class="text-center text-lg-start text-white py-1" style="background-color: rgba(2,68,157,255) !important; font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; font-weight: bold; padding: 20px 0;">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-2 border-bottom" style="padding: 5px 0;">
    <!-- Left -->
    <div class="me-3 d-none d-lg-block">
      <span style="font-size: 1rem;">Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.facebook.com" class="mx-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.twitter.com" class="mx-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.google.com" class="mx-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="https://www.instagram.com" class="mx-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com" class="mx-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://www.github.com" class="mx-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="p-2">
    <div class="container text-center text-md-start mt-3">
      <!-- Grid row -->
      <div class="row mt-2">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-3">
          <!-- Logo -->
          <img src="logo1.png" alt="Logo" class="img-fluid" style="max-height: 200px;">
          <!-- Content -->
        </div>
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-3">
          <p style="font-size: 1.2rem;">
            <a href="/home" class="text-reset">Home</a>
          </p>
          <p style="font-size: 1.2rem;">
            <a href="/daily-passes" class="text-reset">Daily Pass</a>
          </p>
          <p style="font-size: 1.2rem;">
            <a href="/about" class="text-reset">About Us</a>
          </p>
          <p style="font-size: 1.2rem;">
            <a href="/buy" class="text-reset">Book Now</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-3">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-3" style="font-size: 1rem;">Contact</h6>
          <p style="font-size: 1rem; margin-bottom: 5px;"><i class="fas fa-home me-2"></i> Kotor, Montenegro</p>
          <p style="font-size: 1rem; margin-bottom: 5px;"><i class="fas fa-envelope me-2"></i> kotorpass@gmail.com</p>
          <p style="font-size: 1rem; margin-bottom: 5px;"><i class="fas fa-phone me-2"></i> + 382 69 678 980</p>
          <p style="font-size: 1rem; margin-bottom: 5px;"><i class="fas fa-print me-2"></i> + 382 32 786 444</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
</footer>
<!-- Footer -->
